
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
Hi!<br/>
Current games:<br/>
{% for game, players in current_games.items() %}
    {{ game }} - {{ players }} player(s)<br/>
{% endfor %}
<div id="top_games_by_play_time"></div>
<div id="top_games_by_user_count"></div>
<div id="top_active_time_of_day"></div>
<div id="game_user_count_over_time"></div>
<div id="total_games_played"></div>
<div id="top_active_users"></div>
<div id="user_contribution_to_total_game_time"></div>
<div id="game_time_breakdown"></div>
<div id="game_breakdown_by_user"></div>

<script>
$(function () {
    $.getJSON('{{ url_for('discord_charting.top_games_by_play_time') }}', function(data) {
        console.log(data);
        // Populate series
        $('#top_games_by_play_time').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Top 5 played games - 1'
            },
            subtitle: {
                text: 'by combined gametime'
            },
            xAxis: {
                title: {
                    text: 'Game'
                },
                categories: [
                    'Game',
                ]
            },
            yAxis: {
                title: {
                    text: 'Time in game'
                }
            },
            tooltip: {

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: data
        });
    });
    $.getJSON('{{ url_for('discord_charting.top_games_by_user_count') }}', function(data) {
        console.log(data);
        // Populate series
        $('#top_games_by_user_count').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Top 5 played games - 2'
            },
            subtitle: {
                text: 'by unique players'
            },
            xAxis: {
                title: {
                    text: 'Game'
                },
                categories: [
                    'Game',
                ]
            },
            yAxis: {
                title: {
                    text: 'Users who have played game'
                }
            },
            tooltip: {

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: data
        });
    });

     $.getJSON('{{ url_for('discord_charting.top_active_time_of_day') }}', function(data) {
        console.log(data);
        // Populate series
        $('#top_active_time_of_day').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Hourly Activity - 3'
            },
            xAxis: {
                title: {
                    text: 'hour'
                },
                categories: [
                    'Activity',
                ]
            },
            yAxis: {
                title: {
                    text: 'Average Active users'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.1f}</b> users on average'
            },
            plotOptions: {
                column: {
                    borderWidth: 0,
                    tooltip: {
                        valueSuffix: ' average users',
                    },
                }
            },
            series: data
        });
    });

    $.getJSON('{{ url_for('discord_charting.game_user_count_over_time') }}', function(data) {
        console.log(data);
        // Populate series
        $('#game_user_count_over_time').highcharts({
            title: {
                text: 'User Count/Game - 4',
                x: -20 //center
            },
            subtitle: {
                text: 'over time',
                x: -20
            },
            xAxis: {
                categories: data['times']
            },
            yAxis: {
                title: {
                    text: '# of players'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' players'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: data['games']
        });
    });

    $.getJSON('{{ url_for('discord_charting.total_games_played') }}', function(data) {
        console.log(data);
        // Populate series
        $('#total_games_played').highcharts({
            title: {
                text: 'Total unique games played - 5',
                x: -20 //center
            },
            subtitle: {
                text: 'over time',
                x: -20
            },
            xAxis: {
                categories: data['times']
            },
            yAxis: {
                title: {
                    text: '# of unique games'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: data['games']
        });
    });

    $.getJSON('{{ url_for('discord_charting.top_active_users') }}', function(data) {
        console.log(data);
        // Populate series
        $('#top_active_users').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Top 5 Active users - 6'
            },
            subtitle: {
                text: 'contribution to top 5 users\' game time',
                x: -20
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Top active users',
                colorByPoint: true,
                data: data
            }]
        });
    });

    $.getJSON('{{ url_for('discord_charting.user_contribution_to_total_game_time') }}', function(data) {
        console.log(data);
        // Populate series
        $('#user_contribution_to_total_game_time').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Top 15 Active users - 7'
            },
            subtitle: {
                text: 'contribution to total game time',
                x: -20
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Top active users',
                colorByPoint: true,
                data: data
            }]
        });
    });

    $.getJSON('{{ url_for('discord_charting.game_time_breakdown') }}/Comrade%20Question', function(data) {
        console.log(data);
        // Populate series
        $('#game_time_breakdown').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Game time breakdown - 8'
            },
            subtitle: {
                text: '% of your total game time',
                x: -20
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Top active users',
                colorByPoint: true,
                data: data
            }]
        });
    });

    $.getJSON('{{ url_for('discord_charting.game_breakdown_by_user') }}/Armored%20Warfare', function(data) {
        console.log(data);
        // Populate series
        $('#game_breakdown_by_user').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Armored Warfare user time breakdown - 9'
            },
            subtitle: {
                text: '% time spent playing by users',
                x: -20
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Top active users',
                colorByPoint: true,
                data: data
            }]
        });
    });
});
</script>
</body>
</html>