
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
Hi!<br/>
Current games:<br/>
{% for game, players in current_games.items() %}
    {{ game }} - {{ players }} player(s)<br/>
{% endfor %}
<div id="top_games_by_play_time"></div>
<div id="top_games_by_user_count"></div>
<div id="top_active_time_of_day"></div>

<script>
$(function () {
    $.getJSON('http://127.0.0.1:9090/global/top_games_by_play_time', function(data) {
        console.log(data);
        // Populate series
        $('#top_games_by_play_time').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Top 5 played games'
            },
            subtitle: {
                text: 'by combined gametime'
            },
            xAxis: {
                title: {
                    text: 'Game'
                }
            },
            yAxis: {
                title: {
                    text: 'Time in game'
                }
            },
            tooltip: {

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: data
        });
    });
    $.getJSON('http://127.0.0.1:9090/global/top_games_by_user_count', function(data) {
        console.log(data);
        // Populate series
        $('#top_games_by_user_count').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Top 5 played games'
            },
            subtitle: {
                text: 'by unique players'
            },
            xAxis: {
                title: {
                    text: 'Game'
                }
            },
            yAxis: {
                title: {
                    text: 'Users who have played game'
                }
            },
            tooltip: {

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: data
        });
    });

     $.getJSON('http://127.0.0.1:9090/global/top_active_time_of_day', function(data) {
        console.log(data);
        // Populate series
        $('#top_active_time_of_day').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Hourly Activity'
            },
            xAxis: {
                title: {
                    text: 'hour'
                }
            },
            yAxis: {
                title: {
                    text: 'Active users'
                }
            },
            tooltip: {

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: data
        });
    });
});
</script>
</body>
</html>